<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js.bootstrap.min.js"></script>
</head>
<body>

    <div style="margin-left: 20%; margin-top:100px; ">
        <h2>Spring Boot Crud System - Employee Registration</h2>

        <tr>
            <div align = "left">
                <h3><a th:href="@{'/new'}">Add New</a></h3>
            </div>
        </tr>
        <tr align = "center">
            <div class="col-sm-5" style="margin-left: 20%; margin-top:30px;" >
                <div class="panel-body" align="center">
                    <table style="width:100%">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width:10%">Employee ID</th>
                            <th style="width:30%">Name</th>
                            <th style="width:30%">Designation</th>
                            <th style="width:15%">Salary</th>
                            <th style="width:5%">Edit</th>
                            <th style="width:10%">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employee : ${employeeList}">
                                <td th:text="${employee.id}">Employee ID</td>
                                <td th:text="${employee.employeeName}">Name</td>
                                <td th:text="${employee.designation}">Designation</td>
                                <td th:text="${employee.salary}">Salary</td>
                                <td>
                                    <a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
                                </td>
                                <td>
                                    <a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tr>
    </div>
</body>
</html>