<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js.bootstrap.min.js"></script>
</head>
<body>

    <div align="center">
        <h1>Add New Employee</h1>
        <br/>
        <div class="col-sm-4">
            <form action="#" th:action="@{/save}" th:object="${employee}" method="post">
                <div align="left">
                    <tr>
                        <label class="form-table">Employee Name</label>
                        <td>
                            <input type="hidden" th:field="*{id}"/>
                            <input type="text" th:field="*{employeeName}" class="form-control" placeholder="Employee Name"/>
                        </td>
                    </tr>
                </div>
                <div align="left">
                    <tr>
                        <label class="form-label">Designation</label>
                        <td>
                            <input type="text" th:field="*{designation}" class="form-control" placeholder="Designation">
                        </td>
                    </tr>
                </div>
                <div align="left">
                    <tr>
                        <label class="form-label">Salary</label>
                        <td>
                            <input type="text" th:field="*{salary}" class="form-control" placeholder="Salary">
                        </td>
                    </tr>
                </div>
                <br/>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-info">Save</button>
                    </td>
                </tr>
            </form>
        </div>
    </div>

</body>
</html>